<router-outlet />

<div class="w-full h-auto container mx-auto">
    <div class="w-full mt-10">
        <div class="p-2 flex flex-row items-center justify-center gap-x-7 rounded-t-xl border-2 border-gray-300">
            <div class="flex flex-row items-center justify-center gap-x-2">
                <button (click)="undo()" mat-ripple matTooltip="Geri" matTooltipPosition="above"
                    class="grid place-items-center p-2 bg-white ring-1 ring-gray-300 rounded-full">
                    <mat-icon>undo</mat-icon>
                </button>
                <button (click)="redo()" mat-ripple matTooltip="İleri" matTooltipPosition="above"
                    class="grid place-items-center p-2 bg-white ring-1 ring-gray-300 rounded-full">
                    <mat-icon>redo</mat-icon>
                </button>
                <button (dblclick)="clear()" mat-ripple matTooltip="Hepsini Sil" matTooltipPosition="above"
                    class="grid place-items-center p-2 bg-white ring-1 ring-gray-300 rounded-full">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
            <div class="flex flex-row items-center gap-x-2">
                <button (click)="toggleBold()" mat-ripple matTooltip="Kalınlaştır" matTooltipPosition="above"
                    class="grid place-items-center p-2 ring-1 ring-gray-300 rounded-full {{editor()?.isActive('bold') ? 'bg-indigo-200' : 'bg-white'}}">
                    <mat-icon>format_bold</mat-icon>
                </button>
                <button (click)="toggleItalic()" mat-ripple matTooltip="İtalic" matTooltipPosition="above"
                    class="grid place-items-center p-2 ring-1 ring-gray-300 rounded-full {{editor()?.isActive('italic') ? 'bg-indigo-200' : 'bg-white'}}">
                    <mat-icon>format_italic</mat-icon>
                </button>
                <button (click)="toggleUnderline()" mat-ripple matTooltip="Altını Çiz" matTooltipPosition="above"
                    class="grid place-items-center p-2 ring-1 ring-gray-300 rounded-full {{editor()?.isActive('underline') ? 'bg-indigo-200' : 'bg-white'}}">
                    <mat-icon>format_underlined</mat-icon>
                </button>
                <button (click)="toggleStrike()" mat-ripple matTooltip="Üstünü Çiz" matTooltipPosition="above"
                    class="grid place-items-center p-2 ring-1 ring-gray-300 rounded-full {{editor()?.isActive('strike') ? 'bg-indigo-200' : 'bg-white'}}">
                    <mat-icon>strikethrough_s</mat-icon>
                </button>
            </div>
            <div class="flex flex-row items-center gap-x-2">
                <button matRipple matTooltip="Başlıklar" [matMenuTriggerFor]="titleMenu" matTooltipPosition="above"
                    class="grid place-items-center p-2 ring-1 ring-gray-300 rounded-full {{editor()?.isActive('heading') ? 'bg-indigo-200' : 'bg-white'}}">
                    <mat-icon>title</mat-icon>
                </button>
                <mat-menu #titleMenu="matMenu">
                    <button mat-menu-item (click)="setHeading(1)">
                        <h1 class="{{editor()?.isActive('heading',{level:1}) ? 'text-indigo-600' : 'text-black'}}">
                            Başlık 1</h1>
                    </button>
                    <button mat-menu-item (click)="setHeading(2)">
                        <h2 class="{{editor()?.isActive('heading',{level:2}) ? 'text-indigo-600' : 'text-black'}}">
                            Başlık 2</h2>
                    </button>
                    <button mat-menu-item (click)="setHeading(3)">
                        <h3 class="{{editor()?.isActive('heading',{level:3}) ? 'text-indigo-600' : 'text-black'}}">
                            Başlık 3</h3>
                    </button>
                    <button mat-menu-item (click)="setHeading(4)">
                        <h4 class="{{editor()?.isActive('heading',{level:4}) ? 'text-indigo-600' : 'text-black'}}">
                            Başlık 4</h4>
                    </button>
                    <button mat-menu-item (click)="setHeading(5)">
                        <h5 class="{{editor()?.isActive('heading',{level:5}) ? 'text-indigo-600' : 'text-black'}}">
                            Başlık 5</h5>
                    </button>
                    <button mat-menu-item (click)="setHeading(6)">
                        <h6 class="{{editor()?.isActive('heading',{level:6}) ? 'text-indigo-600' : 'text-black'}}">
                            Başlık 6</h6>
                    </button>
                </mat-menu>

                <button (click)="setParagraph()" mat-ripple matTooltip="Paragraf" matTooltipPosition="above"
                    class="grid place-items-center p-2 ring-1 ring-gray-300 rounded-full {{editor()?.isActive('paragraph') ? 'bg-indigo-200' : 'bg-white'}}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path
                            d="M9 16h2v4h2V6h2v14h2V6h3V4H9c-3.309 0-6 2.691-6 6s2.691 6 6 6zM9 6h2v8H9c-2.206 0-4-1.794-4-4s1.794-4 4-4z">
                        </path>
                    </svg>
                </button>

                <button (click)="setLink()" mat-ripple matTooltip="Bağlantı Ekle" matTooltipPosition="above"
                    class="grid place-items-center p-2 ring-1 ring-gray-300 rounded-full {{editor()?.isActive('link') ? 'bg-indigo-200' : 'bg-white'}}">
                    <mat-icon>link</mat-icon>
                </button>
            </div>
            <div class="flex flex-row items-center gap-x-2">
                <input type="color" #inputTextColorRef style="visibility: hidden; position: absolute;"
                    (input)="setColor($any($event.target).value)" />

                <button (click)="inputTextColorRef.click()" mat-ripple matTooltip="Yazı Rengi"
                    matTooltipPosition="above" [style]="{'border': '1px solid ' + textColorState()}"
                    class="grid place-items-center p-2 bg-white ring-1 ring-gray-300 rounded-full">
                    <svg [style]="{fill: textColorState()}" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24">
                        <path
                            d="M5 18h14v3H5zm7.5-14h-1c-.401 0-.764.24-.921.609L5.745 16h2.173l1.273-3h5.604l1.268 3h2.171L13.421 4.61A1 1 0 0 0 12.5 4zm-2.46 7 1.959-4.616L13.95 11h-3.91z">
                        </path>
                    </svg>
                </button>

                <button mat-ripple [matMenuTriggerFor]="fontFamilyMenu" matTooltip="Yazı Tipi"
                    matTooltipPosition="above" class="grid place-items-center p-2 ring-1 ring-gray-300 rounded-full">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path
                            d="M15 4h7v2h-7zm1 4h6v2h-6zm2 4h4v2h-4zM9.307 4l-6 16h2.137l1.875-5h6.363l1.875 5h2.137l-6-16H9.307zm-1.239 9L10.5 6.515 12.932 13H8.068z">
                        </path>
                    </svg>
                </button>

                <mat-menu #fontFamilyMenu="matMenu">
                    <button mat-menu-item (click)="setFontFamily('Roboto')">
                        <span style="font-family: Roboto !important;"
                            [class]="editor()?.isActive({fontFamily:'Roboto'}) ? 'text-indigo-600' : 'text-black'">
                            Roboto
                        </span>
                    </button>
                    <button mat-menu-item (click)="setFontFamily('Times')">
                        <span style="font-family: Times !important;"
                            [class]="editor()?.isActive({fontFamily:'Times'}) ? 'text-indigo-600' : 'text-black'">
                            Times
                        </span>
                    </button>
                    <button mat-menu-item (click)="setFontFamily('Cascadia Code')">
                        <span style="font-family: 'Cascadia Code' !important;"
                            [class]="editor()?.isActive({fontFamily:'Cascadia Code'}) ? 'text-indigo-600' : 'text-black'">
                            Cascadia Code
                        </span>
                    </button>
                    <button mat-menu-item (click)="setFontFamily('sans-serif')">
                        <span style="font-family: sans-serif !important;"
                            [class]="editor()?.isActive({fontFamily:'sans-serif'}) ? 'text-indigo-600' : 'text-black'">
                            sans-serif
                        </span>
                    </button>
                    <button mat-menu-item (click)="setFontFamily('cursive')">
                        <span style="font-family: cursive !important;"
                            [class]="editor()?.isActive({fontFamily:'cursive'}) ? 'text-indigo-600' : 'text-black'">
                            cursive
                        </span>
                    </button>
                    <button mat-menu-item (click)="setFontFamily('Verdana')">
                        <span style="font-family: Verdana !important;"
                            [class]="editor()?.isActive({fontFamily:'Verdana'}) ? 'text-indigo-600' : 'text-black'">
                            Verdana
                        </span>
                    </button>
                    <button mat-menu-item (click)="setFontFamily('Arial')">
                        <span style="font-family: Arial !important;"
                            [class]="editor()?.isActive({fontFamily:'Arial'}) ? 'text-indigo-600' : 'text-black'">
                            Arial
                        </span>
                    </button>
                </mat-menu>


                <button (click)="setHighlight()" mat-ripple matTooltip="Vurgula" matTooltipPosition="above"
                    class="grid place-items-center p-2 ring-1 ring-gray-300 rounded-full">
                    <mat-icon class="text-[#fff000]">font_download</mat-icon>
                </button>
                <!-- <input type="color" #inputHighlightRef style="visibility: hidden; position: absolute;"
                    (input)="setHighlight($any($event.target).value)" /> -->
            </div>
            <div class="flex flex-row items-center gap-x-2">
                <button mat-ripple [matMenuTriggerFor]="textFormatMenu" matTooltip="Formatla" matTooltipPosition="above"
                    class="grid place-items-center p-2 bg-white ring-1 ring-gray-300 rounded-full">
                    <mat-icon>format_align_left</mat-icon>
                </button>
                <mat-menu #textFormatMenu="matMenu">
                    <button mat-menu-item (click)="setTextFormat('left')" matTooltip="Sol'a Yasla"
                        matTooltipPosition="right">
                        <mat-icon>format_align_left</mat-icon>
                        <span
                            [class]="(editor()?.isActive({textAlign:'left'}) ? 'text-indigo-600 font-bold' : ' text-black')">Sol</span>
                    </button>
                    <button mat-menu-item (click)="setTextFormat('center')" matTooltip="Ortala"
                        matTooltipPosition="right">
                        <mat-icon>format_align_center</mat-icon>
                        <span
                            [class]="(editor()?.isActive({textAlign:'center'}) ? 'text-indigo-600 font-bold' : ' text-black')">Orta</span>
                    </button>
                    <button mat-menu-item (click)="setTextFormat('right')" matTooltip="Sağ'a Yasla"
                        matTooltipPosition="right">
                        <mat-icon>format_align_right</mat-icon>
                        <span
                            [class]="(editor()?.isActive({textAlign:'right'}) ? 'text-indigo-600 font-bold' : ' text-black')">Sağ</span>
                    </button>
                </mat-menu>

                <button (click)="setImage()" mat-ripple matTooltip="Fotoğraf Ekle" matTooltipPosition="above"
                    class="grid place-items-center p-2 bg-white ring-1 ring-gray-300 rounded-full">
                    <mat-icon>image</mat-icon>
                </button>
            </div>
        </div>
        <div #editorRef class="p-1 rounded-b-xl border-2 border-t-0 border-gray-300"></div>
    </div>
</div>